<h1>All Bets</h1>

<% @groups.each do |group| %>
  <% group.courses.each do |course| %>
  <div id="group_members">
    <p><%= group.name %></p>
      <p><%= course.name %></p>
      <p><%= course.holes.count %></p>
  </div>
  <% end %>
<% end %>
