<h1>All Courses</h1>

<div id="courses">
  <% @courses.sort_by{|course| course.name.downcase}.each do |course| %>
    <div class="course">
        <div class= "course_img" style="background-image: url('<%= course.img_url %>');" ><%= link_to course.name, course %></div>
    </div>
  <% end %>
</div>
