 /* Nav bars */
 #login {
   font-family: 'Fjalla One', sans-serif;
   margin: 10px;
   float: right;
 }
 #login > a {
   padding: 5px;
 }
  #navigations {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4em;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
  }
  #navigations > a, #dropdown {
    margin: .5em;
    padding: .5em;
    margin-left: 60px;
  }
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 275px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 7px;
    border: 1px solid black;
    margin-top: 13px;
  }
  #dropdown:hover #dropdown-content {
     display: block;
 }
 nav a:hover {
   background-color: orange;
 }
 nav a:visited {
   color: black;
 }

 /* Header */
 #header {
   width: 100%;
   height: 500px;
   display: flex;
   background-image: url("http://dbijapkm3o6fj.cloudfront.net/resources/13461,4,1,6,4,0/-4397-/20140923124044/4.-a-modern-marvel-of-golf-awaits.jpeg");
   background-position: center;
   border: 1px solid black;
 }
 #header_info {
   font-family: 'Cinzel', serif;
   background-color: rgba(0, 0, 0, 0.75);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   height: 500px;
   width: 400px;
   min-width: 400px;
   margin-left: 100px;
 }
 #header_info > h2 {
   border-bottom: 1px solid white;
 }
 #header_info > h3 {
  font-size: 1em;
 }

 /* Body and Content */
 body {
   margin: 0px;
  }
 #content {
   margin: 10px;
   font-family: 'Josefin Sans', sans-serif;
 }
 a, a:visited {
   text-decoration: none;
 }
 a:hover {
   border-bottom: 1px solid;
 }

 /* Courses */
 #courses {
   display: flex;
   flex-wrap: wrap;
 }
 .course {
  margin: 5px;
  margin-bottom: 15px;
 }
 .course_img {
   width: 100px;
   height: 300px;
   min-width: 50em;
   border: 1px solid black;
   background-size: cover;
   background-position: center;
 }

 /* Holes */
 .holes {
   display: flex;
   flex-wrap: wrap;
 }
 .hole {
  margin: 5px;
  margin-bottom: 15px;
 }
 .hole_img {
   width: 800px;
   height: 300px;
   border: 1px solid black;
 }

 /* Groups */
 .groups {
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
 }
 .group {
   border: 1px solid black;
   margin: 20px;
   width: 25%;
   padding: 10px;
 }
 #group_show {
   width: 40%;
   height: 100%;
 }
 #group_members {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
 }
 #group_members > p, #group_members > p{
   margin: 8px;
 }
 #group_bets {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
 }

 /* Events */
#events {
  display: flex;
  flex-wrap: wrap;
}
.event {
  border: 1px solid rgb(171, 183, 205);
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 15px;
}
.event-group-row {
  background-color: rgb(53, 56, 61);
  padding-left: 5px;
  color: rgb(220, 222, 226);
}
.event-group-row > p > a, .event-group-row > h2 > a {
  color: rgb(220, 222, 226);
}
.event-titles {
  display: flex;
  background-color: rgb(235, 239, 245);
}
.event-details > h3 {
  padding: 5px;
  margin: 1px;
}
.event-titles2 {
  display: flex;
  background-color: white;
}
.event-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
  border: 1px solid rgb(171, 183, 205);
}
.course-col {
  width: 800px;
}


 /* Forms */
  input {
    display: block;
    margin: 5px 0 20px 0;
    padding: 9px;
    border: solid 1px black;
    width: 300px;
    background: whitesmoke;
  }
  input[type=submit],
  a.delete{
    width: auto;
    padding: 9px 15px;
    background-color: gray;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
  }
  input.delete, a.delete {
    background-color: red;
  }

/* Flash */
 .alert{
    color:#f00;
    margin-left: 10px;

 }
 .notice{
    color:#00f;
    margin-left: 10px;
 }


/* Footer */
footer {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: flex-end;;
}
#links {
margin: 30px;
}
#links > img{
padding: 10px;
}
