<h1>All Groups</h1>
<h3><%= link_to "Create your own Group", new_group_path if @current_user %></h3>

<div>
  <% @groups.each do |group| %>
    <div class= "group_info">
      <h2><%= link_to group.name, group %></h2>
        <ul>
          <li>Number of Players: <%= group.num_members %></li>
        </ul>
    </div>
  <% end %>
</div>
